RewriteEngine On

# Desativa listagem de diretorios no apache
IndexIgnore *

# Aplicação
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php/$1 [L]

# Remove acesso externo aos arquivos
<Files ~ "(.htaccess|manifest.json|composer.json|composer.lock|.env|dev-logs.html|\.sql)">
    Order allow,deny
    Deny from all
</Files>