* text=auto
* eol=lf

/.github export-ignore
/.run export-ignore
/bin export-ignore
/docs export-ignore
/dev-project export-ignore
/logs export-ignore
/rootfs export-ignore
/test export-ignore
/.dockerignore export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.php_cs.dist export-ignore
/docker-compose.yml export-ignore
/Dockerfile export-ignore
/phpdoc.xml.dist export-ignore
/readme.md export-ignore
