### Geral
*.log.html
*.log.json
.records/

### Composer
composer.lock
vendor/
/.php_cs
/.php_cs.cache

### Node NPM
package-lock.json
node_modules/

### Outros
/build/

### JetBrains
.idea/
manifest-test.json
