<?php

/*
 * This file is part of Blazar Framework.
 *
 * (c) João Henrique <joao_henriquee@outlook.com>
 *
 * For the full copyright and license information, please view the LICENSE file that was distributed with this source code.
 */

$header = <<<'EOF'
This file is part of Blazar Framework.

(c) João Henrique <joao_henriquee@outlook.com>

For the full copyright and license information, please view the LICENSE file that was distributed with this source code.
EOF;

// Rules: https://mlocati.github.io/php-cs-fixer-configurator/
return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        'array_indentation' => true,
        'trailing_comma_in_multiline_array' => true,
        'trim_array_spaces' => true,
        'array_syntax' => ['syntax' => 'short'],
        'whitespace_after_comma_in_array' => true,

        'ordered_imports' => true,
        'no_alternative_syntax' => false,
        'braces' => [
            'allow_single_line_closure' => true,
            'position_after_control_structures' => 'same',
            'position_after_functions_and_oop_constructs' => 'same',
        ],
        'no_unneeded_curly_braces' => true,
        'protected_to_private' => false,
        'visibility_required' => [
            0 => 'method',
            1 => 'property',
        ],

        'single_blank_line_before_namespace' => true,
        'single_class_element_per_statement' => true,
        'single_import_per_statement' => true,
        'single_line_after_imports' => true,
        'single_quote' => true,
        'blank_line_before_return' => true,
        'blank_line_after_namespace' => true,
        'blank_line_after_opening_tag' => true,
        'blank_line_before_statement' => true,

        'hash_to_slash_comment' => true,
        'align_multiline_comment' => true,

        'no_empty_phpdoc' => true,
        'no_empty_statement' => true,
        'phpdoc_indent' => true,
        'phpdoc_inline_tag' => true,
        'phpdoc_no_alias_tag' => ['type' => 'var'],
        'phpdoc_no_useless_inheritdoc' => true,
        'phpdoc_scalar' => true,
        'phpdoc_single_line_var_spacing' => true,
        'phpdoc_summary' => true,
        'phpdoc_to_comment' => true,
        'phpdoc_trim' => true,
        'phpdoc_types' => true,
        'phpdoc_var_without_name' => true,
        'phpdoc_types_order' => ['null_adjustment' => 'always_last', 'sort_algorithm' => 'none'],
        'general_phpdoc_annotation_remove' => [
            0 => 'access',
            1 => 'package',
            2 => 'subpackage',
        ],

        'elseif' => true,
        'standardize_not_equals' => true,
        'unary_operator_spaces' => true,
        'ternary_operator_spaces' => true,
        'cast_spaces' => true,
        'switch_case_semicolon_to_colon' => true,
        'switch_case_space' => true,
        'binary_operator_spaces' => [
            'operators' => [
                '|' => 'no_space',
            ],
        ],

        'header_comment' => ['header' => $header],
    ])
    ->setFinder(
        PhpCsFixer\Finder::create()
            ->in(__DIR__ . '/demo')
            ->in(__DIR__ . '/src')
            ->exclude([
                'vendor',
                'node_modules',
            ])
    );
