<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8"/>

    <base href="<?= BASE ?>" />

    <title></title>
</head>

<body>
<h1>Página 2</h1>
<br>
<a href="home">Voltar para a Home</a>
<p>{{site}}</p>
<p>{{hora}}</p>
</body>
</html>